.profile-owner {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14286;
    color: #FFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 508px;
}

@media screen and (max-width: 940px) {
    .profile-owner {
        font-size: 27px;
        line-height: 1.2222;
        max-width: 389px;
    }
}

@media screen and (max-width: 590px) {
    .profile-owner {
        max-width: 254px;
    }
}
