.button-delete {
    background-image: url(../../Images/Trash.svg);
    background-size: 18px 19px;
    background-color: transparent;
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    transition: opacity 1s ease;
}

.button-delete:hover {
    opacity: 0.6;
}
